<!DOCTYPE html>
<%- include("../partials/head");%>

    <body>
        <%- include("../partials/header", {pagina:"Um Clássico Filme de Terror "});%>
            <main>
                <div class=" container sinopseMargin jumbotron">
            <div class="imgSinopse">
                <img class="movieInfo" width="300px" height="300px" src="atypical.jpg" alt="">
            </div>
            <div class="info">

                <a class="sinopseInfo">
                    11 de agosto de 2017/ Comédia Drama </a>
                <a class="sinopseInfo">
                    Direção:Joe Kessler, Michael Patrick Jann, Seth Gordon</a>
                <a class="sinopseInfo">
                    Roteirista: Robia Rashid
                </a>
                <a class="sinopseInfo">
                    Elenco:Keir Gilchrist,Brigette Lundy-Paine,Jennifer Jason Leigh,Nik Dodani </a>
                <a class="nota">
                    Nota: 8
                </a>
            </div>

            <div class="sinopse">
                <h1>SINOPSE</h1>



                <p>O protagonista de Atypical é um adolescente autista que está no ensino médio e passa por todos os
                    dilemas que a época proporciona. Ao redor dele, além dos estereótipos clássicos da escola, está uma
                    família confusa e amigos que desconsideram (para o bem e para o mal) as necessidades e a visão
                    especial que ele tem do mundo. Com essa mudança constante de perspectiva e um texto que afasta
                    qualquer vestígio de pieguice, a série questiona as atitudes de todos os personagens e de maneira
                    descontraída mostra que ser normal é a missão mais complicada de todas.
                </p>

                <h1>CRÍTICA</h1>
                <p>
                    Todos os núcleos se desenvolvem a partir de Sam (Keir Gilchrist) e como ele enxerga o mundo. A
                    psicóloga Julia e o colega Zahid tratam do relacionamento com mulheres e dividem os conselhos mais
                    variados. Dentro da família, a visão do protagonista serve para setar as mudanças de cada membro. A
                    mãe (Jennifer Jason Leigh) e o pai estão em caminhos opostos, um procurando se afastar das tarefas
                    eternas de ter um filho como Sam e o outro tentando entender a melhor forma de se aproximar dele. E
                    a irmã, que a princípio é a mais ignorante, sabe lidar com o irmão no silêncio e na gritaria; ela é
                    a empatia silenciosa, a compreensão que a série tenta transmitir. E o que a princípio parece
                    simplório e uma trama básica de problema familiares se torna atraente pelo texto sóbrio de Atypical.

                </p>
                <img src="atypical1.jpg" class="contentImage" width="85%" height="85%">
                <p> O jeito cartesiano e direto que Sam lida com qualquer situação deixa tudo imprevisível, já que o
                    seriado começa divagando sobre a real capacidade dele lidar com o mundo em que vive. Depois que ele
                    se esforça e tenta interagir com as regras ditadas pelo senso comum, como "jogar" na hora da
                    conquista, o roteiro começa a questionar a necessidade de existirem essas regras. Ao mesmo tempo que
                    faz isso, Atypical deixa o espectador sem saber o que esperar das decisões de todos os seus
                    personagens.</p>
                <p> Esse exercício de mudança de perspectiva mostra como a série trabalha a empatia como seu principal
                    traço. Por mais que vivam juntos, toda a família de Sam só consegue se entender a partir do momento
                    que se aproximam e abrem portas para que outra pessoa sinta e compreenda sentimentos alheios.
                    Gilchrist está sempre com a testa franzida, transmitindo o desconforto constante que Sam carrega- e
                    mesmo assim ele consegue passar a sinceridade e leveza com que o personagem enxerga em situações que
                    pessoas "normais" levariam horas, dias ou anos para superar.</p>
                <p>
                    A estética e o ritmo de Atypical lembram bastante Love, outra dramédia da Neflix. Não há tanta
                    referência nerd quanto, mas a mistura entre núcleo personagens por meio de uma edição veloz
                    transforma o seriado em algo super agradável de assistir. Os ambientes têm iluminação delicada,
                    cores claras e são acompanhados por uma trilha de fundo que raramente aparece. Quem dita a
                    velocidade das coisas são os diálogos, sejam eles dentro de um consultório ou no interior de um
                    carro. E esse ritmo, esse visual e todo o constrangimento das situações parecem propositais,
                    calculadas. Assim como as pessoas que conhecem Sam, a primeira impressão de Atypical é sempre de
                    estranhamento. Mas basta alguns minutos para perceber que a normalidade é questão de perspectiva, e
                    quanto mais se questiona e se experimenta a visão do outro, mais conseguimos conviver em harmonia.
                </p>






            </div>
            </div>

            </main>
            <%- include("../partials/footer")%>
    </body>

    </html>