<!DOCTYPE html>
<%- include("../partials/head");%>

    <body>
        <%- include("../partials/header", {pagina:"Black Mirror "});%>
            <main>
                <div class=" container sinopseMargin jumbotron">
            <div class="imgSinopse">
                <img class="movieInfo" width="300px" height="300px" src="blackMirror.jpg" alt="">
            </div>
            <div class="info">
                <a class="sinopseInfo">
                    14 de julho de 2021 / 1h 35min / Terror </a>
                <a class="sinopseInfo">
                    Criado por Charlie Brooker </a>

                <a class="sinopseInfo">
                    Elenco:Monica Dolan, Daniel Ings, Angourie Rice</a>
                <a class="nota">
                    Nota: 9,5
                </a>
            </div>

            <div class="sinopse">
                <h1>SINOPSE</h1>

                <p>Como um espelho preto. É assim que ficam as telas das TVs, monitores e celulares, quando desligados.
                    E esse é o nome de uma das séries mais apocalípticas e interessantes já escritas para a TV. Dá
                    vontade de descrever o roteiro do primeiro episódio, The National Anthem, mas contar qualquer coisa
                    a partir do quinto minuto, já seria contar demais. É preciso assistir</p>
                <p>
                    É sempre fascinante quando um filme consegue incomodar, fazer refletir ou despertar sentimentos nem
                    sempre muito presentes. Monika e o Desejo, de Ingmar Bergman, Dançando no Escuro, de Lars Von Trier,
                    A Serbian Film, de Srđan Spasojević, são obras que me vêm à cabeça. Só que, diferentemente desses
                    filmes, em Black Mirror nos reconhecemos; o que vemos ali somos nós, refletidos naqueles contextos;
                    escravos do consumo, linchadores virtuais, mórbidos espectadores. É isso o que incomoda.
                    <img src="blackMirror1.jpg" class="contentImage" width="85%" height="85%">
                <h1>CRÍTICA</h1>


                </p>
                <p>Lançada em 2011 na Inglaterra — e agora disponível pela Netflix nos Estados Unidos e no Brasil —,
                    Black Mirror trata da nossa relação com a tecnologia, das perversas regras do capitalismo, do poder
                    e da sociedade do espetáculo, e as possíveis — e bem prováveis — consequências sobre as relações
                    humanas (muitas já acontecendo). O físico e o virtual se confundem. Não precisaremos mais de
                    câmeras, nossos olhos servirão como lentes e um chip instalado no nosso cérebro gravará TUDO o que a
                    gente vê, e todas as memórias serão salvas numa timeline, que você poderá acessar infinitamente
                    quando quiser e, inclusive, mostrar para os amigos numa tela de TV (sabe aquele momento em que você
                    conta uma história e fica procurando a foto para mostrar o que viu? não será mais preciso, você pode
                    mostrar a cena INTEIRA); poderemos bloquear pessoas ao vivo, quando não quiser mais escutar e ser
                    escutado, ver e ser visto; ou ainda fazer uma cópia não só do seu cérebro mas da sua personalidade,
                    criando um novo eu salvo num chip que, além de comandar todos os gadgets da casa, servirá como seu
                    secretário (ele já vai saber o ponto que você gosta da torrada, a temperatura certa da água do
                    banho, o jeito que você gosta de acordar, já que é você mesmo – ou seja, o secretário perfeito); e
                    até encomendar um avatar — físico — de um falecido que, programado com o histórico de dados de suas
                    redes sociais quando vivo, parecerá, falará e interagirá como ele mesmo. Não é preciso assistir a
                    Black Mirror em sequência ou seguindo a cronologia de lançamento: cada episódio é um filme
                    independente, com um elenco diferente, em épocas diferentes.</p>
                <p>Já deu para perceber que a evolução da tecnologia e o acesso fácil à informação não levaram à uma
                    vida mais tranquila ou à elevação da cultura geral (o que vemos é uma assustadora e cada vez mais
                    visível mediocridade) nem à uma sociedade mais civilizada (o ódio, a intolerância, a falta de
                    empatia, o sentimentalismo falso imperam nas redes sociais e nas caixas de comentários de grandes
                    portais). A tecnologia evoluiu, mas o homem não; e não temos como escapar do mundo e da convivência
                    com as pessoas. Black Mirror mostra essa realidade — de forma amplificada —, em roteiros
                    afiadíssimos. E incomoda porque, apesar dos problemas, da ansiedade que a tecnologia gera, nós
                    todos, vítimas do consumo que somos, estaremos na fila celebrando essas novas tecnologias quando
                    elas forem lançadas.</p>
                <img src="blackMirror2.png" class="contentImage" width="85%" height="85%">
            </div>
            </div>


            </main>
            <%- include("../partials/footer")%>
    </body>

    </html>