<!DOCTYPE html>
<%- include("../partials/head");%>

    <body>
        <%- include("../partials/header", {pagina:"Gotham"});%>
            <main>
                <div class=" container sinopseMargin jumbotron">
                    <div class="imgSinopse">
                        <img class="movieInfo" width="300px" height="300px" src="gotham.jpg" alt="">
                    </div>
                    <div class="info">
                        <a class="sinopseInfo">
                            2014 - 2019 / 42min / Drama, Policial</a>
                        <a class="sinopseInfo">
                            Criado por Bruno Heller </a>
                        <a class="sinopseInfo">
                            Elenco: Ben McKenzie, Donal Logue, David Mazouz
                        </a>
                        <a class="sinopseInfo">
                        </a>
                        <a class="nota">
                            Nota: 8
                        </a>
                    </div>

                    <div class="sinopse">
                        <h1>SINOPSE</h1>



                        <p>Novo recruta do Departamento de Polícia de Gotham da capitã Sarah Essen, o detetive James
                            Gordon se junta com Harvey Bullock para resolver um dos casos de maior destaque de Gotham: o
                            assassinato de Thomas e Martha Wayne. Durante sua investigação, Gordon conhece o filho dos
                            Wayne, Bruce, agora sob os cuidados de seu mordomo Alfred Pennyworth, o que incentiva Gordon
                            ainda mais a capturar o assassino misterioso. Ao longo do caminho, Gordon deve enfrentar a
                            máfia liderada por Carmine Falcone, bem como muitos dos futuros vilões de Gotham, como
                            Selina Kyle, Edward Nygma e Oswald Cobblepot. Eventualmente, Gordon é forçado a formar uma
                            improvável amizade com Bruce Wayne, que irá ajudar a moldar o futuro do menino em seu
                            destino de se tornar O Cavaleiro das Trevas.</p>
                        <h1>CRÍTICA</h1>

                        <img src="gotham1.jpg" class="contentImage" width="85%" height="85%">
                        <p>
                            Marvel e DC fizeram suas tentativas de invadir o mercado televisivo, mas fora alguns raros
                            sucessos, o que todo mundo lembra é daquele filme do Capitão América magrelo de moto, do
                            Nick Fury do David Hasselhoff (não google) e de bobagens ainda piores, embora eu recomende
                            muito o telefilme da Liga da Justiça, é ótimo, pelos motivos errados.
                        </p>
                        <p>
                            Indo direto ao assunto, a Warner lançou Gotham, uma proposta ousada e que tem tudo para ser
                            o pé da DC na televisão. Sim, eu sei que Arrow está excelente (mas é daaaark), Flash e
                            Constantine vêm aí muito fortes mas estamos falando de Batman, do morcegoso, o cruzado
                            embuçado, um dos 3 Grandes da DC. Uma série dele tem muito mais poder e potencial, mas… ele
                            não aparece na série.
                        </p>
                        <p>A primeira pergunta que todo mundo faz é: como uma série do Batman funcionará sem ele? Bem,
                            Smallville teve dez temporadas e o escoteiro azulão só apareceu no último episódio. Acima de
                            tudo Gotham NÃO é uma série sobre o Batman, Gotham é uma série sobre um sujeito que coloca
                            um casaco em um garoto e mostra a ele que o mundo não acabou.</p>
                        <p>
                            A série não perde tempo, assim como na maioria dos meus encontros, em 3 minutos está tudo
                            acabado e (spoilers) os pais de Bruce Wayne são mortos, mas nesse meio-tempo já fomos
                            apresentados à Mulher-Gatinha, interpretada por Camren Bicondova, uma atriz de uma beleza
                            que lembra a Michelle Pfeiffer, dançarina, atleta, perfeita para a personagem e com apenas
                            15 anos de idade, portanto nada de maldar a moça.
                        </p>

                        <p>
                            James Gordon é um recém-chegado na polícia de Gotham, é “o” policial honesto, idealista e
                            todas aquelas coisas que não funcionam nem no mundo real, que dirá na ficção. Ele é parceiro
                            de Harvey Bulock, corrupto, preguiçoso, cruel, chato feio e bobo MAS com um senso de honra
                            pessoal.
                        </p>

                        <p>
                            Já no primeiro episódio é mostrado o motivo de Gordon ser leal a Bullock, que apesar de ser
                            “o” escroto, não é um personagem binário, não é “malvado por malvado”.
                        </p>
                        Gotham não é uma série do Batman mas é uma série sobre a mitologia do Batman, todo mundo está
                        lá, incluindo o (futuro) Charada, que atende pelo levemente menos ridículo nome de Edward Nygma,
                        em vez de Edward E. Nigma, mas quem rouba a cena é o Pinguim, embora eu não recomende que você o
                        chame assim.
                        <p>
                            interpretada pela Jada Pinkett Smith. Sim, a Niobe, de Matrix. O Pinguim de Robin Lord
                            Taylor repete o fenômeno do Curinga de Heath Ledger; pela primeira vez o personagem causa
                            medo. Ele não é aquela figura patética da versão do Danny DeVito, muito menos a do Burgess
                            Meredith. Ele é um psicopata em treinamento. Mais que um sujeito que mata, ele tem prazer em
                            machucar. Boa parte da primeira temporada mostrará a queda do Pinguim rumo à insanidade, e
                            tem tudo pra ser muito bom.
                        </p>

                        <p>
                            A série, nas mãos de Bruno Heller, criador do excelente Mentalista foge do caminho fácil de
                            ficar jogando diquinhas de Bruce Wayne virar Batman. Não há morcegos nas paredes. O garoto
                            aprenderá o Segredo do Morcego com Gordon. Veremos aquilo que Ano 1 não
                            mostrou.
                        </p>
                        <img src="gotham2.jpg" class="contentImage" width="85%" height="85%">


                        <p>Gotham é passada em um universo mais próximo do de Nolan, então não é provável que vejamos
                            personagens com super-poderes. Eu chutaria que veremos, sim, o que o Nolan não mostrou: o
                            Batman detetive brilhante. Já outras referências, estão lá. Algumas são inevitáveis, como a
                            Mulher-Gatinha usar óculos como a Anne Hathaway, que inevitavelmente parecerão orelhinhas.
                            Na morte dos Waynes vemos a seminal imagem criada por Frank Miller em Cavaleiro das Trevas,
                            as pérolas caindo ao chão.</p>
                        <p>Outros personagens da folclore morcegal aparecem ou são mencionados. A maior adição, talvez,
                            seja um grau de complexidade adicionado à morte dos Wayne que é algo tão óbvio e bom que é
                            incrível não ter sido feito antes.</p>
                        <p>Gotham conseguiu manter a atenção em um piloto ao fugir da armadilha de querer contar 1.734
                            histórias de origem, e ao mesmo tempo deu mostras de muito do que está por vir. Portanto,
                            meninos e meninas, aproveitem. Estamos vivendo a Era de Ouro dos Super-heróis no cinema e
                            agora na televisão.</p>


                    </div>
                </div>

            </main>
            <%- include("../partials/footer")%>
    </body>

    </html>