<!DOCTYPE html>
<%- include("../partials/head");%>

    <body>
        <%- include("../partials/header", {pagina:"Um Clássico Filme de Terror "});%>
            <main>
                <div class=" container sinopseMargin jumbotron">
            <div class="imgSinopse">
                <img class="movieInfo" width="300px" height="300px" src="invincible.jpg">
            </div>
            <div class="info">
                <a class="sinopseInfo">
                    14 de julho de 2021 / 1h 35min / Terror </a>
                <a class="sinopseInfo">
                    Criado por Robert Kirkman </a>
                <a class="sinopseInfo">
                    Elenco: Steven Yeun, J.K. Simmons, Sandra Oh
                </a>

                <a class="nota">
                    Nota: 8,4
                </a>
            </div>

            <div class="sinopse">
                <h1>SINOPSE</h1>



                <p>Baseada na série homônima de quadrinhos criada por Robert Kirkman (The Walking Dead), Invincible
                    acompanha Mark Grayson, um adolescente que tenta levar uma vida comum, exceto por um pequeno
                    detalhe: ele é filho do super-herói mais poderoso da Terra. Conhecido como Omni-Man, seu pai veio de
                    uma raça alienígena chamada Viltrumites para proteger o planeta. Pouco depois de seu 17º
                    aniversário, Mark começa a desenvolver seus próprios poderes, incluindo superforça, velocidade, vôo,
                    cura rápida e alguma invulnerabilidade. Agora, o jovem vai precisar de seu pai para aprender a
                    controlar suas habilidades. Mas ele logo descobre que o legado familiar é mais sombrio do que
                    imaginava.
                </p>

                <h1>CRÍTICA</h1>
                <p>

                </p>


                <p>Quando pensamos em produções de super-heróis, é fácil imaginar vários elementos que tornaram o gênero
                    tão reconhecível: uma origem fantástica - e às vezes trágica -, um uniforme maneiro, poderes
                    incríveis e um vilão que será vencido com muito custo no fim da história pelo campeão da justiça.
                    Ainda que boa parte das HQs, filmes e séries não consigam fugir dessa estrutura, as mais espertas se
                    destacam justamente por imprimir uma identidade única em um tipo de história que pode ser tão
                    previsível. Este é o caso de Invencível, animação que chegou em busca de um espaço no panteão de
                    grandes produções do gênero.</p>
                <img src="invincible1.jpg" width="90%" height="85%">
                <p>Com um início focado na tradicional origem do herói, a série faz questão de se parecer com outras
                    produções. Não por mera coincidência ou reverência vazia, mas para ambientar o público a esse novo
                    universo pela familiaridade. Consciente de quais histórias já entraram no cânone do fã de heróis, a
                    série presta singelos tributos, reconhecendo o espectador como um igual, e o convida a conhecer mais
                    essa história - contada por alguém que leu e assistiu às mesmas coisas que você.</p>
                <p>Tomando um caminho convencional, a produção se esforça para criar uma rede de segurança que é
                    propositalmente rasgada ao final do primeiro episódio, quando há uma ruptura que muda o panorama das
                    coisas. A partir daí, as homenagens deixam de ser o foco e a animação mostra a que veio, investindo
                    em uma mitologia própria e narrativas que engajam de formas diferentes.

                </p>
                <p>Adaptação da HQ de Robert Kirkman, criador de The Walking Dead, Invencível deixa o caráter episódico
                    da obra original de lado e une suas diferentes tramas em um grande emaranhado de causa e
                    consequência. Usando o herói-título como fio condutor, a série apresenta invasões alienígenas,
                    ciborgues assassinos, super-equipes, agências governamentais e até uma investigação policial em um
                    universo vivo que se conecta de maneira orgânica e cativante.</p>
                <p>É muito curioso como a produção apresenta Mark como uma espécie de “Homem-Aranha com poderes do
                    Superman” para dar a ele uma jornada que ecoa muito desses dois heróis, sem nunca parecer escorado
                    no que veio antes. Apesar de passar por dilemas similares - escola, namorada, esconder a dupla
                    identidade, etc. - sua construção é esperta o bastante para que essa semelhança fique em uma camada
                    superficial.</p>
                <p> Outra jogada esperta de Invencível foi apostar na violência para atrair parte da audiência que
                    certamente está cansada de heróis “limpinhos”. Com a certeza de que isso dá certo após o sucesso de
                    The Boys, a produção entrega um gore que serve à história. Os momentos mais brutais e chocantes
                    estão ali com um propósito que vai além da violência catártica da ficção. Especialmente porque em
                    comparação à sua “irmã” de streaming, Invencível não é cínica ou iconoclasta e trata heróis com
                    admiração e não o desprezo de Billy Bruto e companhia.

                </p>
                <p> Aliás, a inconsistência fica gritante exatamente por conta de como a animação faz bonito nas cenas
                    de ação. Empolgantes e, por vezes, perturbadoras, as lutas e façanhas dos heróis fazem ótimo uso do
                    cenário e das habilidades dos personagens. É uma pena, porque o lado cotidiano da vida de Mark
                    também é tratado com prioridade pelo texto, que investe tempo precioso em mostrar como uma pessoa
                    super-poderosa lida com as pressões e incertezas do início da vida adulta.</p>
                <p>Com as temporadas 2 e 3 já confirmadas, Invencível tem tudo para se tornar uma das mais importantes
                    produções de heróis em uma era dominada por eles. Com respeito pelo passado e ousadia para criar
                    novos elementos, a animação uniu o melhor dos dois mundos ao equilibrar o idealismo dos clássicos e
                    a sanguinolência moderna.</p>






                <img src="invincible2.jpg" width="90%" height="85%">




            </div>
            </div>

            </main>
            <%- include("../partials/footer")%>
    </body>

    </html>