<!DOCTYPE html>
<%- include("../partials/head");%>

    <body>
        <%- include("../partials/header", {pagina:"Love+Death+Robots"});%>
            <main>
                <div class=" container sinopseMargin jumbotron">
                    <div class="imgSinopse">
                        <img class="movieInfo" width="300px" height="300px" src="loveDeathRobots.jpg" alt="">
                    </div>
                    <div class="info">
                        <a class="sinopseInfo">
                            15 de março de 2019 / Ficção científica </a>
                        <a class="sinopseInfo">
                            Criado por Tim Miller </a>
                        <a class="sinopseInfo">
                            Elenco: Bruce Thomas, Gwendoline Yeo, Nolan North
                        </a>
                        <a class="sinopseInfo">
                            Nacionalidade EUA</a>
                        <a class="nota">
                            Nota: 8,2
                        </a>
                    </div>

                    <div class="sinopse">
                        <h1>SINOPSE</h1>



                        <p>Quando consolidou seu lugar como a líder dos streamings, a Netflix passou a investir em um
                            modelo que preza muito mais pela quantidade de conteúdo do que pela qualidade. Isso
                            significa que, semanalmente, a plataforma é bombardeada de novidades - sendo boa parte delas
                            produções originais. Enquanto muito títulos são duvidosos, o lado positivo é uma maior
                            experimentação de formatos, tramas, gêneros e até mesmo talentos na frente e atrás das
                            câmeras. Nada simboliza melhor isso do que Love, Death + Robots.
                        </p>
                        <p>
                            O conceito de antologia não é nada novo para as produções televisivas de gênero, com
                            exemplos como The Twilight Zone, The Outer Limits, Masters of Horror e muitas outras. Ainda
                            assim, como prova Black Mirror, o formato tornou-se ainda mais relevante na era do streaming
                            pela facilidade de maratonar temporadas. Neste projeto a ideia é levada à outro nível: cada
                            capítulo conta uma história diferente (dentro da temática do título), mas também é comandado
                            por variados cineastas e, ao contrário do programa de Charlie Brooker, tem diversas durações
                            por episódio. Isso resulta em maior liberdade para testar ideias que talvez não rendam uma
                            hora de conteúdo, mas que transmitem sua mensagem e causam impacto em menos de dez minutos -
                            como "Os Três Robôs", que mostra um trio de robôs turistas pela Terra pós-apocalíptica, ou
                            então "Histórias Alternativas", que brinca com o conceito de questionar "e se…" para
                            acontecimentos históricos.
                        </p>
                        <h1>CRÍTICA</h1>
                        <p>
                            O ritmo é dinâmico, e a reprodução automática do serviço reforça que o ponto é não pensar
                            muito no que se viu, pedindo por um aproveitamento mais emocional do que racional. É um caso
                            onde a plataforma claramente influenciou a criação do conteúdo - tanto é que boa parte dos
                            episódios são rasos, sem muita intenção de se aprofundar na própria temática. Em alguns,
                            como "A Testemunha" e seu mistério a lá Alfred Hitchcock, isso é perdoado pela boa
                            construção da narrativa; em outros, como "Noite da Pescaria" ou "Proteção Contra
                            Alienígenas", só passam a impressão de algo incompleto. É claro que há uma limitação de
                            tempo, mas com ótimos contos redondinhos como "Para Além da Fenda de Aquila" e "Ajudinha",
                            por exemplo, fica difícil usar isso como desculpa. De qualquer forma, é uma temporada
                            impressionante por não ter episódios verdadeiramente ruins, só ocasionalmente medianos
                            enquanto a maioria intriga e deixa salivando por mais.
                        </p>
                        <img src="robots1.jpg" class="contentImage" width="90%" height="450px">
                        <p>
                            Isso não significa que não há problemas no programa. A caracterização de grande parte das
                            personagens femininas é o maior deles: os roteiros parecem gostar em um nível preocupante de
                            colocá-las como vítimas de abuso sexual, mesmo que seja para depois colocá-las como fortes
                            por terem passado por esse trauma - recurso narrativo baixo e batido que se repete em "A
                            Vantagem de Sonnie" e "Boa Caçada". Quando não é o caso, é só nudez gratuita mesmo. Ainda
                            que a nudez seja um elemento natural quando a narrativa pede, todas as vezes que Love, Death
                            + Robots coloca gente pelada na tela é sem relevância, como uma tentativa de taxar sua
                            história como "madura". Por sorte, há vários episódios entre a leva de 18 que não apelam pra
                            nada disso, como o já-citado "Ajudinha" e o excelente "13, Número da Sorte", estrelado por
                            Samira Willey (Orange is the New Black).
                        </p>
                        <p>Além da descoberta de uma nova trama a cada capítulo, o estilo visual é um atrativo por si
                            só. Antologias de vários diretores costumam seguir a mesma linguagem para configurar unidade
                            entre si; já o seriado joga essa regra pela janela e deixa cada equipe e estúdio surtar, o
                            que traz muita personalidade para o conjunto. Parece que há um pouco de tudo aqui: "A
                            Testemunha" é descolado como um crossover entre Homem-Aranha no Aranhaverso e um clipe do
                            Gorillaz; já "A Vantagem de Sonnie", "Ajudinha" e "Para Além da Fenda de Aquila" trazem CG
                            de altíssima qualidade, graças ao trabalho da Axis Studios, Unit Image e da Blur Studios
                            (veteranos de cutscenes de jogos como God of War e as franquias Halo e Destiny); ou então
                            "Quando o Iogurte Assumiu" e "Histórias Alternativas", que trabalham com uma estética mais
                            descontraída, digna de animações da internet; em certo ponto há até um live-action estrelado
                            por Topher Grace (Infiltrado na Klan) e Mary Elizabeth Winstead (Scott Pilgrim). Tudo isso
                            adiciona ao suspense de não saber o que esperar do próximo capítulo, e também à satisfação
                            de ver algo inteiramente novo toda vez.</p>
                        <p>
                            Love, Death + Robots é um dos melhores projetos da Netflix nos últimos anos, carregado de
                            personalidade e, principalmente, potencial: muitas das tramas merecem ganhar filmes/séries
                            próprias, e muita gente talentosa definitivamente poderia se envolver em mais conteúdo da
                            plataforma, como o autor John Scalzi (Guerra do Velho), que escreve três dos 18 episódios do
                            programa. É uma série que justifica a maratona, e que ajuda a reforçar o quão variado,
                            estranho e maravilhoso o gênero de ficção científica pode ser quando abraça suas
                            características mais marcantes ao invés de tentar escondê-las para agradar o grande público.
                        </p>
                        <img src="robots2.jpg" class="contentImage" width="90%" height="450px">





                    </div>
                </div>

            </main>
            <%- include("../partials/footer")%>
    </body>

    </html>