<!DOCTYPE html>
<%- include("../partials/head");%>

    <body>
        <%- include("../partials/header", {pagina:"Peaky Blinders "});%>
            <main>
                <div class=" container sinopseMargin jumbotron">
            <div class="imgSinopse">
                <img class="movieInfo" width="300px" height="300px" src="peakyBlinders.jpg" alt="">
            </div>
            <div class="info">
                <a class="sinopseInfo">
                    12 de setembro de 2013/ Ação, Série de época </a>
                <a class="sinopseInfo">
                    Direção:David Caffrey, tim mielants</a>
                <a class="sinopseInfo">
                    Roiteirista: Steven Knight
                </a>
                <a class="sinopseInfo">

                    Elenco: Cillian Murphy,Helen McCrory, Paul Anderson, Sophie Rundle, Finn Cole, Tom Hardy
                </a>
                <a class="nota">
                    Nota: 9
                </a>
            </div>

            <div class="sinopse">
                <h1>SINOPSE</h1>

                <p>Em Peaky Blinders, série exibida pela BBC desde 2013, vemos a integração muito bem elaborada entre
                    história e ficção, numa atmosfera noir,tendo como contexto as primeiras décadas do séc. XX. A
                    gangue, originalmente liderada por Thomas Gilbert, é conhecida historicamente pela violência com que
                    seus membros agiam em suas atividades ilícitas, incluindo roubos e apostas de cavalos na cidade de
                    Birmingham, Inglaterra.</p>


                <h1>CRÍTICA</h1>
                <p>Steven Knight, autor da série, relata que seu interesse pelo bando foi despertado desde sua infância
                    ao ouvir as histórias contadas por seus pais. Ele ressalta que a origem do nome não é bem conhecida,
                    mas sabe-se que foi a primeira gangue a criar uma identidade própria no local, customizando sua
                    aparência a partir do uso de casacos compridos escuros assim como boinas que encobriam seus olhos e
                    cujas costuras poderiam conter lâminas, servindo como armas para suas lutas territoriais.
                    Curiosamente, após sua extinção nos anos 30, todas as novas gangues de jovens passaram a ser
                    identificadas pelo mesmo nome, mantendo vivo o imaginário de sua existência nas futuras gerações.
                </p>
                <p>Ao longo da narrativa, acompanhamos a saga da família Shelby desde sua ascensão no crime organizado à
                    consolidação e busca por legitimação de seus negócios no período entre guerras. O roteiro é muito
                    bem elaborado ao mesclar ficção com aspectos históricos e sociais, o que pode ser observado em
                    relação à ambientação do período industrial, no desenvolvimento do espaço urbano ao longo das
                    temporadas, no impecável figurino dos atores e na presença de alguns personagens históricos muito
                    bem contextualizados à trama.</p>
                <p>A primeira temporada estabelece o início da linha temporal a partir de 1919, logo após o término da
                    primeira grande guerra. Podemos acompanhar Thomas Shelby , um ex-soldado condecorado, assumir a
                    liderança de sua família, controlar o poder e prestígio local e ascender no crime organizado,
                    expressando sempre ambições maiores. Thomas é um estrategista engenhoso e controlador que faz da
                    busca pelo poder sua maior ambição. Ele tem o apoio mais próximo de seus irmãos Arthur e John,
                    seguidos por um fiel grupo de companheiros – vale ressaltar que todos carregam profundos traumas e
                    sequelas da guerra, fato que influenciará boa parte de suas decisões e atitudes ao longo das
                    temporadas. O protagonista, brilhantemente interpretado por Cillian Murphy, é um personagem
                    contraditório, complexo e obscuro, sua postura de frieza e seu olhar aparentemente calmo podem
                    esconder fortes emoções que passarão a expressar atos reativos e uma decadência psíquica progressiva
                    à medida que avança em seus objetivos e sofre as consequências danosas de seus atos.</p>
                <p>Até a 5ª temporada, a mais recente, acompanhamos diversas questões conflitantes relacionadas a
                    disputas internas, fragmentação familiar e dramas pessoais dos principais personagens. Em paralelo
                    temos conflitos externos que mesmo sem muita profundidade revelam um background
                    histórico-sociológico muito complexo: os conflitos de poder entre vários grupos étnicos, a diferença
                    entre classes, algumas tramas governamentais, a revolução bolchevique, lutas sindicais, a crise da
                    Bolsa de Valores em 1929 e suas consequências, o contrabando de bebidas durante a Lei Seca
                    estadunidense, o ópio e a emergência do narcotráfico, o poder partidário e a emergência do fascismo
                    na Inglaterra.</p>
                <img src="peaky1.jpg" class="contentImage" width="90%" height="85%">
                <p>Podemos relacionar uma estreita aproximação entre o extenuante trabalho realizado por Thomas na
                    cavação dos obscuros túneis durante a “guerra das trincheiras” e sua atividade posterior no submundo
                    do crime e da política. Por mais riqueza, ascensão e uma certa legitimidade que a família Shelby
                    possa conquistar, lidam com o estigma e preconceito advindos de sua origem cigana e marginal,
                    fazendo com que sejam sempre vistos pela aristocracia e governo como subalternos, um poder paralelo
                    necessário ao controle e manutenção da ordem. Afinal, nos ambientes em que a lei normativa deixa de
                    existir faz-se presente a temida “red right hand” de Thomas Shelby e sua família.</p>
                <p>Recentemente, em janeiro do presente ano, Steven Knight divulgou o término da série na 6ª temporada
                    (2021/2022), porém também anunciou que haverá a sua extensão para as “telonas” com a produção de um
                    filme. Peaky Blinders tem sido reconhecida por vários críticos como uma das melhores séries do
                    gênero nos últimos anos, possui excelentes atores e um roteiro muito bem elaborado, repleto de
                    reviravoltas – vale a pena assistir!</p>
                <p></p>
                <p></p>




            </div>
            </div>

            </main>
            <%- include("../partials/footer")%>
    </body>

    </html>