<!DOCTYPE html>
<%- include("../partials/head");%>

    <body>
        <%- include("../partials/header", {pagina:"Um Clássico Filme de Terror "});%>
            <main>
                <div class=" container sinopseMargin jumbotron">
            <div class="imgSinopse">
                <img class="movieInfo" width="300px" height="300px" src="theBoys.jpg" alt="">
            </div>
            <div class="info">
                <a class="sinopseInfo">
                    26 de julho de 2019 / Héroi </a>
                <a class="sinopseInfo">
                    Direção: Evan Goldberg e Seth Rogen </a>
                <a class="sinopseInfo">
                    Roteirista:Eric Kripke
                </a>
                <a class="sinopseInfo">
                    Roteirista:Eric Kripke</a>
                <a class="nota">
                    Nota: 9
                </a>
            </div>

            <div class="sinopse">
                <h1>SINOPSE</h1>



                <p>The Boys se passa em um universo onde indivíduos superpoderosos são reconhecidos como heróis pelo
                    público em geral e pertencem à poderosa corporação Vought International, que os comercializa e
                    monetiza. Fora de suas personas heroicas, a maioria é arrogante e corrupta. A série se concentra
                    principalmente em dois grupos: os Sete, o principal time de super-heróis da Vought International, e
                    os Rapazes / The Boys, vigilantes, que procuram manter os heróis corrompidos sob controle.
                </p>
                <p>
                    Os Rapazes são liderados por Billy Bruto, que despreza todas as pessoas superpoderosas, e os Sete
                    são liderados pelo egoísta e instável, Capitão Pátria. Enquanto ocorre um conflito entre os dois
                    grupos, a série também segue os novos membros de cada equipe: Hughie Campbell, dos Rapazes, que se
                    junta aos vigilantes depois que sua namorada é morta por um dos Sete; e Annie January / Luz-Estrela
                    dos Sete, uma heroína jovem e esperançosa forçada a enfrentar a verdade sobre os heróis que admira.
                </p>
                <h1>CRÍTICA</h1>
                <p>
                    Ninguém esperava que uma das séries mais relevantes e conscientes do ano seria uma com super-heróis
                    e violência explícita. Não que o gênero não consiga ou possa trazer temas importantes para a mesa,
                    mas o senso crítico e o faro social geralmente chegam em dramalhões mais tradicionais. The Boys,
                    novo projeto original do Amazon Prime, chega às telas com a proposta de entreter, satirizar a
                    indústria e ainda colocar a mão na consciência. Tudo no mais alto nível técnico e narrativo,
                    transformando esta numa das maiores surpresas de 2019.

                </p>
                <p>
                    Na trama, o mundo vive com a presença de pessoas super-poderosas. Seja um homem invisível, o mais
                    rápido, o mais forte ou o mais elástico, o que se vê é uma variedade enorme de super-humanos. Mas o
                    mundo não é a utopia vista nos quadrinhos e filmes, onde o herói é íntegro e a maldade vem apenas
                    dos vilões. Imagine que as pessoas comuns do seu dia a dia tivessem poderes. O sujeito babaca do
                    trabalho, a vizinha venenosa, o parente grosseiro. Aqui, a grande maioria dos poderosos são imbecis
                    egocêntricos, mentirosos compulsivos que abusam dos poderes em benefício próprio. É uma leitura
                    sincera do que aconteceria caso sobre-humanos surgissem na nossa sociedade atual.
                </p>
                <p>Na organização dos poderosos há a corporação Vought e na linha de frente Os Sete, que são,
                    presumivelmente, os mais poderosos do mundo. Movimentando bilhões e bilhões de dólares, a indústria
                    dos heróis se mistura com negócios, política e religião. Mas há gente que não simpatiza com os
                    “novos salvadores” e decide dar o troco em quem sai da linha: os rapazes, The Boys. </p>
                <h2>Sátira é um dos pontos fortes, mas o destaque é o debate político e religioso</h2>
                <p>
                    A série começa acertando na sátira precisa que direciona à indústria de adoração que a sociedade
                    nutre por super-heróis e produtos derivados. Em vários momentos vemos personagens discutindo novos
                    filmes, produtos e ideias, além de estarem constantemente preocupados com o índice de aprovação de
                    cada herói. Além disso, cada personagem é um deboche específico para determinado herói. O
                    Homelander, por exemplo, é um claro aceno ao Capitão América, com sua falsa integridade e ufanismo
                    intragável.
                </p>

                <img src="theBoys1.jpg" class="contentImage" width="85%" height="85%">
                <p>

                </p>
                <p>
                    Ainda assim, The Boys cresce de verdade ao mergulhar ao encarar o discurso político e religioso. Uma
                    das maiores tramas da temporada é a tentativa da Vought e dos heróis para que estes atuem num nível
                    militar, protegendo fronteiras e atuando em qualquer área sem restrições. A atuação irrestrita dos
                    heróis traz, claro, mais dinheiro e reconhecimento ao grupo, ma também acarreta eventuais crises
                    internacionais. Cria-se, então, uma tensão entre os heróis e o governo americano, que precisa
                    aprovar a emenda proposta pelos super-humanos.


                </p>
                <p>
                    Além disso, como não poderia deixar de ser, os “heróis” se aliam à Igreja. Formando um aliança ainda
                    mais poderosa, o objetivo é o mesmo: ter mais poderes e levar o discurso conservador à população.
                    Pois os super-heróis vistos aqui são contra o casamento gay, aborto, sexo antes do casamento,
                    imigração, etc. The Boys, portanto, merece vastos elogios pela coragem em criticar a Igreja de forma
                    tão direta, além dos conservadores ultrapassados. Para melhorar, o roteiro ainda não soa didático ou
                    panfletário, expondo suas ideias sempre de forma orgânica e lógica. Com isso, The Boys consegue
                    apontar e criticar o avanço conservador e da extrema-direita no mundo todo.
                </p>
                <h2>Para completar, The Boys ainda surpreende no quesito técnico</h2>
                <p>
                    Com belos efeitos visuais, a série conhece os próprios limites e trabalha com aquilo que consegue.
                    Assim, não se vê efeitos em demasia, que prejudicam a experiência do público. Aqui, os efeitos são
                    críveis e utilizados com inteligência. Além disso, a fotografia eleva o programa a níveis
                    cinematográficos, dando um ar épico à produção. Para completar, o time de diretores faz um trabalho
                    exemplar. Das sequências de ação (várias e excelentes) aos momentos mais calmos, tudo é conduzido
                    com um notável controle de câmera, além de elogiável criatividade para construção de quadros e gags
                    visuais.
                </p>
                <p>
                    No fim, os super-heróis de The Boys não estão tão longe de nossa realidade. Eles são Trump,
                    Bolsonaro, Kim Jong-un, e tantos outros: homens pequenos com poderes demais. Ao ver o Homelander
                    discursar ferozmente, explicitando seu poder e suas ideias, percebemos que não há chances. Trata-se
                    de alguém que pode fazer o que quiser, simplesmente por ter muito poder e pouco limite. Nos dias de
                    hoje, não é preciso ter capa para causar destruição ou salvação; basta ter uma caneta, uns botões e
                    uma cadeira num posto de liderança.
                </p>
                <img src="theBoys2.jpg" class="contentImage" width="85%" height="85%">


            </div>
            </div>

            </main>
            <%- include("../partials/footer")%>
    </body>

    </html>