<!DOCTYPE html>
<%- include("../partials/head");%>

    <body>
        <%- include("../partials/header", {pagina:"You"});%>
            <main>
                <div class=" container sinopseMargin jumbotron">
                    <div class="imgSinopse">
                        <img class="movieInfo" width="300px" height="300px" src="you.jpg" alt="">
                    </div>
                    <div class="info">
                        <a class="sinopseInfo">
                            9 de setembro de 2018/ Drama </a>
                        <a class="sinopseInfo">
                            Criação:Greg Berlanti,Sera Gamble</a>
                        <a class="sinopseInfo">
                            Roiteirista: Sera Gamble
                        </a>
                        <a class="sinopseInfo">
                            Elenco: Penn Badgley, Victoria Pedretti, Elizabeth Lail,Ambyr Childers
                            Ingrid Lutz, Peppino Mazzotta,Francesco Russo,Will Merrick </a>
                        <a class="nota">
                            Nota: 9,5
                        </a>
                    </div>

                    <div class="sinopse">
                        <h1>SINOPSE</h1>



                        <p>No mundo seriado estamos cercados de adaptações literárias que acabam sempre chegando ao
                            mesmo impasse: nunca estão à altura do material original. Na maioria das vezes esse impasse
                            se dá pelo tempo curto dos filmes e séries ou pela imprecisão dos fatos. A narrativa em
                            primeira pessoa da maioria dos livros que lotam as prateleiras de best sellers também
                            atrapalha roteiristas preguiçosos. Crepúsculo, Cinquenta Tons de Cinza e até o ótimo Todo
                            Dia, de David Levithan, agonizaram adaptações grotescas ao perderem aquilo que mais
                            aproximava os leitores dos personagens: ouvir o que se passava pela cabeça deles.
                        </p>
                        <p>
                            You, de Caroline Kepnes, é um livro narrado em primeira pessoa e ao ser adaptado para a
                            televisão por Sera Gamble e Greg Berlanti (nome que tem um currículo impressionante de
                            séries juvenis, que passa por Dawson’s Creek, Everwood, Supergirl e Riverdale), conseguiu um
                            feito notável: não perder a atmosfera característica de uma história de impressões
                            internalizadas. É ele, o protagonista perigoso e apaixonado, que transmite os eventos,
                            parciais, afetados profusamente pelas próprias ideias e neuroses que ele ameniza como bem
                            entende. Histórias em primeira pessoa se contam com interpretações subjetivas e esse é o
                            maior trunfo da série. As engrenagens que construímos para nos convencermos de que nossas
                            atrocidades são justificáveis podem ser tão assustadoras quanto estranhamente plausíveis.
                        </p>

                        <h1>CRÍTICA</h1>
                        <p>Lançada pelo canal Lifetime em setembro, You passou despercebida e chegou a ser cancelada. O
                            Netflix, que comprou os direitos de exibição, anunciou o interesse em continuar contando a
                            história e somente agora é que a produção começou a ganhar notoriedade. Uma notoriedade
                            bastante merecida, inclusive. De alguma maneira, Berlanti e Gamble conseguiram fazer o
                            simples (implantar a narração em off como forma de ampliar a compreensão dos personagens)
                            funcionar perfeitamente a serviço da trama. A primeira temporada é esperta, intensa,
                            inteligente e completamente imprevisível, tomada de tensão e descrições narrativas que
                            surpreendem justamente por serem tão incomuns em adaptações literárias.</p>

                        <h2>You and Me</h2>
                        <p>Começamos conhecendo Joe (Penn Badgley, de Gossip Girl), um gerente de livraria que tem uma
                            forma peculiar de construir seus relacionamentos amorosos: ele escolhe alguém e investe todo
                            seu tempo em se aproximar e cativar, usando de métodos agressivos e manipuladores para isso.
                            Beck (Elizabeth Lail) entra na livraria de Joe por acaso e se torna, sem perceber, a vítima
                            e o objeto de sua afeição. Poderia ser fácil para ele envolver e conquistar a moça, o
                            problema é que Beck é uma mulher complexa, com amigos complexos e uma determinação pessoal
                            forte demais para tornar-se simplesmente a peça de um jogo. Logo a trama ganha camadas ao
                            notarmos que mesmo sendo um sociopata, Joe também é enganado por ela, o que faz com que a
                            tarefa de controlar a vida da amada seja quase impossível.

                        </p>
                        <img src="you1.jpg" class="contentImage" width="85%" height="400px">
                        <p> Os núcleos paralelos são muito bem dispostos na trama, que tem poucos personagens e em 10
                            episódios não nos dá tempo para bocejar. Joe tem um passado confuso, foi tutelado pelo dono
                            da livraria, um homem violento e frio. Para traçar uma boa analogia com o presente, Joe é
                            vizinho do pequeno Paco (Luca Padovan), um menino também violentado pelo padrasto bêbado,
                            que joga toda sua confiança naquela nova relação de paternalismo indireto. Já Beck tem na
                            amiga Peach (Shay Mitchell), uma interlocução igualmente interessante. Rica e bem
                            relacionada, Peach usa a constante vida bagunçada de Beck como forma de mantê-la aprisionada
                            pela própria sensação de inferioridade. E é claro, sua obsessão pela amiga vai se chocar com
                            a de Joe pela mesma.

                        </p>
                        <h2>They</h2>

                        <p> O mais fascinante está na maneira como todas essas dinâmicas se encontram. Os roteiros não
                            se acovardam e quando colocam seus personagens em posições de perigo, honram essa posição
                            mesmo que isso signifique sacrificar. O elenco é formado por nomes conhecidos de séries
                            populares como Gossip Girl, Pretty Little Liars e Once Upon a Time (John Stamos, de Fuller
                            House, faz uma participação), mas todos esses atores foram preparados para nos convencerem
                            de que o perigo é real e iminente. Badgley constrói um Joe que às vezes parece um psicopata
                            e outras vezes somente um homem apaixonado; enquanto Elizabeth faz de Beck uma heroína e uma
                            hipócrita na mesma medida. Ela é a vítima, sem dúvida nenhuma, mas ela não se vitimiza.

                        </p>
                        <p>As nuances do texto são admiráveis. Joe comete desatinos como vigiar toda a movimentação
                            telefônica de Beck, mas para qualquer um de seus exageros, há uma contextualização pessoal
                            absurda que ele defende sob os termos do amor e da devoção. Muitas vezes essa distorção faz
                            sentido, o que torna a história muito mais interessante de assistir. Essa porção Príncipe e
                            Barba Azul do protagonista é construída com muita sensatez, com grandes viradas, mas sem
                            nunca ultrapassar os limites do folhetim barato. É incrível como a dramaturgia encontra
                            maneiras de nos tirar do lugar comum, nunca reduzindo Joe a um vilão desalmado. O machismo
                            que guia seus códigos morais é profuso, está em todos os átomos que o constituem, mas o
                            texto é esperto demais ao mostrá-lo sempre correlacionando suas violências com afeto.</p>
                        <p>Quando chegamos ao final, o senso de imprevisibilidade não se deixa seduzir pela natural
                            torcida que construímos por um ou pelo outro. You termina num season finale poderoso, cheio
                            de ótimas analogias e sínteses do que acontecera até ali, reforçando, sobretudo, o caráter
                            realista da trama. Essa é uma série sem deux ex machinas que vem para salvar os oprimidos no
                            último minuto. Ela é sádica em muitos momentos e no meio de toda essa paranoia, dá um jeito
                            de ser romântica. É claro que seu cliffhanger está tomado de interesses comerciais, mas até
                            para apostar no futuro é preciso coragem. E ela tem. No final das contas, ficamos tomados
                            pelo sentimento de medo da aleatoriedade do destino, de sermos eleitos para entrarmos no
                            lugar errado e na hora errada, ou de simplesmente estarmos investindo na aproximação com o
                            grande inimigo. É sufocante, mas extremamente contemporâneo. Poderia ser eu, poderia ser
                            você. </p>
                        <p></p>

                        <img src="you2.jpg" class="contentImage" width="85%" height="400px">
                    </div>
                </div>

            </main>
            <%- include("../partials/footer")%>
    </body>

    </html>