<!DOCTYPE html>
<%- include("../partials/head");%>

    <body>
        <%- include("../partials/header", {pagina:"Um Clássico Filme de Terror "});%>
            <main>
                <div class=" container sinopseMargin jumbotron">
            <div class="imgSinopse">
                <img class="movieInfo" width="300px" height="300px" src="classicHorror.jpg" alt="">
            </div>
            <div class="info">
                <a class="sinopseInfo">
                    14 de julho de 2021 / 1h 35min / Terror </a>
                <a class="sinopseInfo">
                    Direção: Roberto De Feo </a>
                <a class="sinopseInfo">
                    Roteirista:Milo Tissone,David Bellini
                </a>
                <a class="sinopseInfo">
                    Elenco: Matilda Anna Ingrid Lutz, Peppino Mazzotta,Francesco Russo,Will Merrick </a>
                <a class="nota">
                    Nota: 3
                </a>
            </div>

            <div class="sinopse">
                <h1>SINOPSE</h1>



                <p>A proposta é bem simples: um grupo de pessoas está viajando pelo sul da Itália e acaba
                    sofrendo um acidente na estrada. Porém, ao acordar do incidente, percebem que estão no meio
                    de uma floresta aparentemente sem saída. Conforme vão investigando o local, descobrem a
                    existência de uma seita ocultista que realiza homicídios ritualísticos.
                </p>
                <p>
                    A partir daí, a paranóia toma conta de todos os personagens, que se veem presos em uma
                    espécie de “limbo terrestre”. Se não escaparem a tempo, serão as próximas vítimas dos
                    sádicos mascarados. Além dos títulos já citados acima, a trama também acaba lembrando o
                    conceito de longas como A Bruxa de Blair (1999) — que revitalizou o found-footage — e Pânico
                    na Floresta (2003) — que se transformou em uma franquia trash bem-sucedida. Mas apesar de
                    soar semelhante, a obra não consegue replicar o triunfo destes filmes.
                </p>
                <h1>CRÍTICA</h1>
                <p>
                    Não se engane: a dupla de diretores Robert de Feo (The Nest) e Paolo Strippoli (Piove)
                    evidencia
                    inúmeras vezes que o “liquidificador” de inspirações é algo proposital no projeto. Contudo,
                    isso
                    não o torna menos desprovido de substância. Por noventa minutos, o que experienciamos é uma
                    espécie de colcha de retalhos cinematográficos, incapaz de oferecer propósito ou diversão.
                </p>
                <p>É possível referenciar filmes icônicos do horror sem soar como um disco riscado. Terror nos
                    Bastidores (2015) consegue realizar essa tarefa com maestria. Mas em Um Clássico Filme de
                    Terror, a execução é precária.</p>
                <p>Ao tentar se apropriar de determinados protótipos clássicos do gênero, a produção acaba
                    criando personagens unidimensionais, que agem de maneira previsível e pouco racional. Esse
                    problema poderia ser corrigido com boas doses de humor. Porém, a obra está sempre tentando
                    se levar a sério, trazendo uma áurea de pretensão frívola ao roteiro.</p>
                <p>
                    Por mais que a intenção seja criar uma narrativa metalinguística — que brinca com os padrões
                    do terror — a falta de profundidade e emoção faz com que o público crie uma grande barreira
                    em relação aos acontecimentos sinistros da história.

                    Cabeças, olhos e orelhas são decepadas a cada minuto, e mesmo assim, sentimos apenas a
                    aflição da violência gráfica apresentada. Não há uma real preocupação com aqueles
                    indivíduos, já que eles não são desenvolvidos o suficiente para gerar engajamento na trama.
                    Tudo soa muito gratuito, com o vazio objetivo de chocar.
                </p>
                <h2>Desfecho é uma afronta a inteligência do público</h2>
                <img src="classicHorror 1.jpg" class="contentImage" width="85%" height="85%">
                <p>
                    Aliás, até mesmo o gore deixa a desejar: existem algumas sequências que embrulham o
                    estômago, mas o longa não chega nem perto de atingir níveis de violência impressionantes.
                    Muito pelo contrário: durante os momentos mais angustiantes, a direção opta pela sugestão,
                    deixando o “trabalho sujo” para a imaginação dos espectadores.
                </p>
                <p>
                    Após o vagaroso clima de mistério se estender por dois atos, os cineastas apostam em um
                    plot-twist espalhafatoso para concluir a trama. Além de incoerente, a concepção consegue
                    elevar ainda mais a áurea de produção B do título.

                    Com atuações over-the-top e uma ruptura abrupta da atmosfera construída ao longo da
                    história, Um Clássico Filme de Terror termina da mesma forma que começou: desajeitado.
                    Infelizmente, o que foi prometido como um dos filmes mais perturbadores do catálogo é, na
                    verdade, uma das piores estreias de 2021 (até agora).
                </p>



            </div>
            </div>

            </main>
            <%- include("../partials/footer")%>
    </body>

    </html>