<header>

    </p>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class=" navbar-brand text-muted" href="/"> <img width="70px" height="70px" src="S.jpg" alt=""></a>
        <ul class="navbar-nav mr-auto">
            <h3>SINOPSEFLIX</h3>
        </ul>

    </nav>
    <p class="page">Você está em: <%= typeof pagina !="undefined" ? pagina:"Home" %>
</header>