<!DOCTYPE html>
<%- include("../partials/head");%>

    <body>
        <%- include("../partials/header", {pagina:"Godzilla VS King Kong"});%>
            <main>
                <div class="container sinopseMargin jumbotron">
                    <div class="imgSinopse">
                        <img class="movieInfo" width="300px" height="300px" src="godzillaVsKong.jpg" alt="">
                    </div>
                    <div class="info">
                        <a class="sinopseInfo">
                            31 de março de 2021 / 1h 53m / Ação, Aventura </a>
                        <a class="sinopseInfo">
                            Direção: Adam Wingard</a>
                        <a class="sinopseInfo">
                            Roteirista: Max Borenstein, Eric Pearson
                        </a>
                        <a class="sinopseInfo">
                            Elenco: Millie Bobby Brown,Rebecca Hall,Alexander Skarsgård </a>
                        <a class="nota">
                            Nota:7
                        </a>
                    </div>

                    <div class="sinopse">
                        <h1>SINOPSE</h1>
                        <p>
                            Kong apareceu pela primeira vez nos cinemas na década de 30 em King Kong (1933) e Godzilla
                            ganhou seu primeiro filme nos anos 50, chamado Godzilla (1954). Os dois viraram duas das
                            maiores
                            e mais importantes figuras da cultura pop e criaram uma rivalidade clássica ao longo das
                            décadas
                            no cinema. Por isso, Godzilla vs Kong tinha a missão nada fácil de mostrar o conforto entre
                            eles
                            pela primeira vez no MonsterVerse: universo compartilhado de monstros da Warner e Legendary.
                        </p>
                        <p>
                            Nesse primeiro crossover, Kong e seus protetores embarcam em uma jornada perigosa para
                            encontrar seu verdadeiro lar. Entretanto, tudo sai do controle quando um Godzilla
                            enfurecido, começa a deixar um rastro de destruição pelo planeta. Esse combate épico entre
                            os dois titãs, instigado por forças ocultas, é apenas o começo do mistério que jaz no núcleo
                            da Terra. Será que o mundo sobreviverá ao duelo de monstros?
                        </p>



                        <h1>CRÍTICA</h1>
                        <p>
                            Nos filmes anteriores do MonsterVerse era notável o mesmo problema entre todas as três
                            produções: os personagens humanos. A franquia estabeleceu diversos personagens para que o
                            público pudesse se relacionar intimamente e criar uma conexão emocional que algumas vezes
                            não é possível acontecer com criaturas gigantes e ameaçadoras – uma escolha normal. O grande
                            problema é que os humanos foram usados excessivamente diversas vezes, roubando o espaço para
                            o estabelecimento da principal atração em um filme de monstros, que são os monstros
                            (obviamente).

                        </p>
                        <p>
                            Os personagens humanos continuam sendo o maior problema de Godzilla vs Kong, mas eles
                            contribuem melhor para o desenvolvimento da trama e ganham um caráter mais secundário, e
                            necessário, quando o confronto principal ganhar forma. Os filmes anteriores apresentaram
                            características importantes para Godzilla e Kong, então os roteiristas Eric Pearson e Max
                            Borenstein, inteligentemente, fazem os humanos desempenharem um elo de condução da narrativa
                            que vai culminar nas batalhas entre os montros gigantes, não se importando tanto aqui para a
                            perspectiva humana.
                        </p>
                        <p>

                            Nenhum deles acaba se destacando. Dr. Nathan Lind (Alexander Skarsgård), Madison Russell
                            (Millie Bobby Brown), Dra. Ilene Andrews (Rebecca Hall), Bernie Hayes (Brian Tyree Henry),
                            Maya Simmons (Eiza Gonzalez) estão todos envolvidos de alguma forma na trama, ao lado do
                            Godzilla ou do Kong. Kong é amarrado e levado em um navio para a Antártica em busca da
                            morada original dos titãs, onde pretendem descobrir se a teoria da Terra Oca é verdadeira.
                            Enquanto isso, um podcaster e dois adolescentes descobrem uma conspiração que explicar o
                            motivo de Godzilla ter enlouquecido.
                        </p>
                        <h2>
                            Godzilla vs Kong é visualmente impressionante e conta com batalhas empolgantes
                        </h2>
                        <img src="kong1.jpg" class="contentImage" width="85%" height="85%">
                        <p>
                            Muitos filmes de monstros apresentam problemas por causa da sua escala grandiosa quando os
                            diretores não sabem dosar os elementos com a história, o que muitas vezes acabam fazendo com
                            que as produções soem artificiais e banais. Guillermo del Toro, ganhador do Oscar por A
                            Forma da Água (2017), teve um grande exemplo de sucesso no gênero que foi Círculo de Fogo
                            (2013), filme que conseguiu entregar um entretenimento de primeiro, com batalhas bem
                            executadas entre criaturas imponentes.

                        </p>
                        <p>

                            Pensando nisso, o diretor Adam Wingard, Você é o Próximo (2012) e Death Note (2017), é digno
                            de todos os méritos pela execução de Godzilla vs Kong, conseguindo impor seus conceitos
                            visuais adequadamente na narrativa – coisa que apenas Jordan Vogt-Roberts havia conseguido
                            em Kong: A Ilha da Caveira. Esteticamente o filme é muito bem resolvido, com efeitos visuais
                            impressionantes, e recria a magia dos clássico filmes de monstros, com Godzilla e Kong
                            lutando mais de uma vez como dois deuses batalhando pela supremacia do mundo. Tudo elaborado
                            de forma detalhada, estilizada e realista.
                        </p>
                        <p>
                            Por isso, as cenas de ação durante as batalhas são o ponto alto – principalmente o duelo
                            final que apresenta o grande vencedor. Criativas, grandiosas e bem executadas, elas
                            apresentam o peso real que esse combate merece. No final das contas, o grande acerto da
                            produção é ser honesta e cumprir com a proposta de seu título, não tentando, sem
                            necessidade, ser profunda ou introspectiva. Godzilla vs Kong é sobre o enfrentamente entre
                            duas das criaturas mais populares da cultura pop e, dentro disso, é tudo o que um fã do
                            universo de monstros pode esperar: entretenimento puro!
                        </p>
                        <p>
                            Godzilla vs Kong é um blockbuster empolgante e cumpre seu propósito ao abraçar sem medo esse
                            universo de monstros de maneira única, divertida e respeitosa. O filme faz jus ao seu título
                            e honra o legado dos personagens na história do cinema e da cultura pop, onde Godzilla e
                            Kong se enfrentam de maneira grandiosa em cenas de ação bem executadas, com uma identidade
                            visual bem definida e menor interferência dos personagens humanos. Precisamos de mais filmes
                            que não se levem tão a sério e saibam se divertir assim...
                        </p>
                    </div>
                </div>

            </main>
            <%- include("../partials/footer")%>
    </body>

    </html>