<!DOCTYPE html>
<%- include("../partials/head");%>

    <body>
        <%- include("../partials/header", {pagina:"Luca"});%>
            <main>
                <div class="container sinopseMargin jumbotron">
                    <div class="imgSinopse">
                        <img class="movieInfo" width="300px" height="300px" src="luca.jpg" alt="">
                    </div>
                    <div class="info">
                        <a class="sinopseInfo">
                            16 de junho de 2021/ 1h 36m / Animação, Aventura, Família </a>
                        <a class="sinopseInfo">
                            Direção: Enrico Casarosa </a>
                        <a class="sinopseInfo">
                            Roteirista:Jesse Andrews, Mike Jones
                        </a>
                        <a class="sinopseInfo">
                            Elenco:Giacomo Gianniotti,Jacob Tremblay,Jack Dylan Grazer,Emma Berman </a>
                        <a class="nota">
                            Nota:7
                        </a>
                    </div>

                    <div class="sinopse">
                        <h1>SINOPSE</h1>

                        <p>Historicamente, a Pixar costuma lidar com temas profundos como descoberta pessoal e
                            amadurecimento em suas animações primorosas tecnicamente e visualmente, e que conseguem
                            alcançar tanto as crianças quanto os adultos – o que vimos acontecer com Toy Story - Um
                            Mundo de Aventuras (1995), Procurando Nemo (2003) e tantos outros exemplos. Luca (2021) é a
                            mais nova animação do Disney+ que promete emocionar e conquistar toda a família.</p>

                        <p>
                            Em Luca, acompanhamos uma história de amadurecimento sobre o jovem Luca Paguro (dublado por
                            Rodrigo Cagiano) que vive um verão inesquecível repleto de sorvetes, massas e passeios
                            intermináveis de scooter. Luca compartilha essas aventuras com seu novo melhor amigo,
                            Alberto Scorfano (dublado por Pedro Miranda), mas toda a diversão é ameaçada por um segredo
                            profundamente bem guardado: eles são monstros marinhos de outro mundo, logo abaixo da
                            superfície da água.
                        </p>
                        <img src="luca1.jpg" class="contentImage" width="75%" height="450px">
                        <h1>CRÍTICA</h1>

                        <p>
                            Logo de cara, podemos perceber a impressionante criação de mundo típica das animações da
                            Pixar ao explorar o visual exuberante das profundezas do mar. Porém, depois da introdução,
                            Luca passa a ser ambientado em uma cidade litorânea da Riviera Italiana, chamada Portorosso,
                            onde concentra sua narrativa em uma aventura simples e emocionante sobre crescimento.
                        </p>
                        <p>

                            Os protagonistas Luca e Alberto são baseados na infância do diretor Enrico Casarosa e seu
                            amigo, também chamado Alberto, em Gênova, na Itália. Enrico se aproveita da sua experiência
                            pessoal com a história para estabelecer o lugar com impressionante riqueza nos detalhes e
                            explorar a relação de amizade sendo construída entre os dois meninos.
                        </p>
                        <p>
                            Luca Paguro é monstro marinho de 13 anos que cresce protegido pelos seus pais Daniela Paguro
                            (Leticia Quinto) e Lorenzo Paguro (Fábio Azevedo) e nutrindo um medo da superfície por causa
                            dos marinheiros que vão realizar pescas nos local. Um dia ele conhece outro monstro marinho,
                            Alberto, que vive sozinho em um farol velho na beira do mar e descobre que pode se
                            transformar em um ser humano indo para a superfície. Ambos decidem se aventurar na Riviera
                            Italiana em busca de uma scooter (Vespa, como é chamada no filme) e acabam desenvolvendo uma
                            forte amizade.
                        </p>
                        <img src="luca2.jpg" class="contentImage" width="75%" height="450px">
                        <p>
                            Os dois são muito diferentes, mas acabam se relacionando de forma verdadeira em uma história
                            sobre amadurecimento nos belos cenários italianos – por isso gerou muitas comparações com Me
                            Chame Pelo Seu Nome. Luca é um pré-adolescente inseguro e preso dentro de uma caixinha que
                            ele tenta se livrar, formada pelos seus medos e superproteção familiar. Ele encontra essa
                            independência em Alberto, que tem espírito livre e vive sem medo de devastar esse mundo.
                        </p>
                        <p>
                            Luca e Alberto entendem que precisam de dinheiro para comprar uma passagem para fora da
                            cidade e conseguir sua liberdade. É quando eles fazem amizade com uma garota da cidade
                            chamada Giulia Marcovaldo (Bia Singer) e se juntam a ela em uma competição de triatlo anual
                            contra o convencido e campeão Ercole Visconti (Caio Guarnieri) – um antagonista caricato,
                            mas eficiente.
                        </p>
                        <p>
                            Luca não é uma animação revolucionária da Pixar, como outros exemplos recentes foram, mas
                            apresenta uma emocionante história sobre amadurecimento e liberdade, com seu personagem
                            principal em uma jornada sobre autoconhecimento passsando por diversas paisagens
                            exuberantes.

                        </p>
                    </div>
                </div>

            </main>
            <%- include("../partials/footer")%>
    </body>

    </html>