<!DOCTYPE html>
<%- include("../partials/head");%>

    <body>
        <%- include("../partials/header", {pagina:"Rua do medo"});%>
            <main>
                <div class="container sinopseMargin jumbotron">
                    <div class="imgSinopse">
                        <img class="movieInfo" width="300px" height="300px" src="ruaDoMedo.jpg" alt="">
                    </div>
                    <div class="info">
                        <a class="sinopseInfo">
                            16 de julho de 2021 / 1h 47min / Terror </a>
                        <a class="sinopseInfo">
                            Direção: Leigh Janiak </a>
                        <a class="sinopseInfo">
                            Roteirista: Roteirista,Phil Graziadei

                        </a>
                        <a class="sinopseInfo">
                            Elenco: Sadie Sink,Kiana Madeira,Julia Rehwald,Olivia Scott Welch </a>
                        <a class="nota">
                            Nota: 4
                        </a>
                    </div>

                    <div class="sinopse">
                        <h1>SINOPSE</h1>

                        <p>
                            Rua do Medo é a adaptação da série de livros de mesmo nome de R.L. Stine. Depois da colega
                            Heather (Maya Hawke) ser morta na saída do trabalho, um grupo de adolescentes passa a ser
                            perseguido por um grupo de assassinos mascarados em 1994, na pequena cidade de Shadyside.
                            Quando começam a investigar as mortes, eles descobrem que não são as primeiras vítimas e que
                            a cidade tem uma longa história de assassinatos brutais que acontecem há anos. Agora eles
                            precisarão descobrir uma forma de impedir os assassinos ou, então, não sobreviverão até o
                            dia seguinte.
                        </p>
                        <h1>CRÍTICA</h1>
                        <p>
                            Unindo o sobrenatural ao slasher, Rua do Medo 1994 — dirigido por Leigh Janiak — é uma
                            atrapalhada carta de amor ao cinema de horror. A trama — adaptada dos contos de R.L. Stine —
                            flerta com inúmeras convenções do gênero, buscando incessantemente recriar a atmosfera
                            hipnotizante de clássicos da época como Pânico e Ringu. Infelizmente, a ambiciosa empreitada
                            possui pouca substância narrativa, e se transforma rapidamente em um festival de referências
                            cinematográficas artificiais.

                            Na trama, um grupo de jovens investiga uma série de homicídios que aparentam estar
                            conectados. Porém, o envolvimento neste mistério faz com que eles se tornem os próximos
                            alvos do assassino. Kiana Madeira (Flash), Olivia Scott Welch (Panic), Benjamin Flores Jr
                            (Policial em Apuros) e Maya Hawke (Stranger Things) são alguns dos nomes presentes no
                            elenco.
                        </p>

                        <img src="rua1.jpg" class="contentImage" width="85%" height="75%">
                        <h2>Proposta objetiva é mal-aproveitada</h2>
                        <p>
                            pesar da proposta objetiva, Rua do Medo perde o potencial de cativar os espectadores ao
                            acrescentar novos elementos à história em uma frequência exaustiva. Portanto, o que deveria
                            ser um capítulo de introdução ao universo criado por Janiak acaba se transformando em um
                            emaranhado de ideias mal executadas que nos desconecta da experiência.

                            O roteiro só encontra fôlego quando desenvolve o mistério central da trama, ao invés de
                            tentar aprofundar assuntos secundários. Essa é uma grande oportunidade perdida, já que a
                            produção definitivamente entretém nos momentos em que não se leva tão a sério.
                        </p>

                        <img src="rua2.jpg" class="contentImage" width="85%" height="420px">
                        <h2>Rua do Medo não possui uma identidade definida</h2>
                        <p>
                            O início da trilogia peca excessivamente quando o assunto é originalidade. Há inúmeras
                            formas de homenagear obras clássicas sem abrir mão de uma identidade ímpar. Alguns títulos
                            como Terror nos Bastidores (2015) e The Babysitter (2017) são ótimos exemplos disso.

                            Mas o que vemos em Rua do Medo é bem diferente: ao invés de inovar através da metalinguagem,
                            o longa recorre à saturada fórmula da nostalgia banal que vem dominando Hollywood nos
                            últimos anos.

                        </p>
                        <p>
                            A influência do trabalho de Stephen King também é evidente no filme. Mas enquanto as obras
                            do autor estão carregadas de emoção e fantasia, a produção da Netflix é dominada por uma
                            energia monótona.
                        </p>
                        <h2>Rua do Medo é bem-sucedido como terror?</h2>
                        <p>
                            Além de ser emocionalmente defasado, Rua do Medo não consegue manipular os clichês do gênero
                            a seu favor. Os famigerados jumpscares não marcam presença na produção, e o senso de tensão
                            é inexistente durante as quase duas horas de duração.

                            O apelo gore — que acabou rendendo uma classificação indicativa alta para o filme — é um dos
                            poucos elementos que pode chocar o público. Mesmo assim, a ausência de efeitos práticos
                            acaba reduzindo a credibilidade das sequências mais sangrentas.
                        </p>
                        <p>
                            Um dos poucos pontos positivos do longa é o romance entre Deena e Samantha. Ter um casal
                            queer protagonizando uma obra de terror mainstream da Netflix é revitalizante tanto para o
                            gênero quanto para o serviço de streaming. Além disso, a divisão entre Sunnyside e Shadyside
                            é bem explorada, dando espaço para interpretações sociais que agregam valor ao filme.

                            Contudo, o primeiro capítulo da trilogia não empolga tanto quanto o seu ambicioso plano de
                            lançamento. Sem vida, a obra falha em resgatar o espírito da época que tenta retratar,
                            entregando performances mornas e um resultado esquecível.
                        </p>
                    </div>
                </div>

            </main>
            <%- include("../partials/footer")%>
    </body>

    </html>