<!DOCTYPE html>
<%- include("../partials/head");%>

    <body>
        <%- include("../partials/header", {pagina:"Um lugar silencioso"});%>
            <main>
                <div class="container sinopseMargin jumbotron">
                    <div class="imgSinopse">
                        <img class="movieInfo" width="300px" height="300px" src="lugarSilencioso.jpg" alt="">
                    </div>
                    <div class="info">
                        <a class="sinopseInfo">
                            25 de dezembro de 2020 No cinema e / 1h 40min / Animação, Aventura, Família </a>
                        <a class="sinopseInfo">
                            Direção: John Krasinski </a>
                        <a class="sinopseInfo">
                            Roteirista:John Krasinski, Scott Beck, Bryan Woods
                        </a>
                        <a class="sinopseInfo">
                            Elenco: EMILY BLUNT,JOHN KRASINSKI,CILLIAN MURPHY,MILLICENT SIMMONDS, NOAH JUPE, DJIMON
                            HOUNSOU </a>
                        <a class="nota">
                            Nota: 8,5
                        </a>
                    </div>

                    <div class="sinopse">
                        <h1>SINOPSE</h1>

                        O silêncio enervante e o barulho mortal

                        por Bruno Botelho
                        O que deixa um terror eficaz em causar medo no público? As respostas são relativas, alguns
                        diriam que são os sustos inesperados – chamados de jump scares –, outros que é a criação
                        constante de tensão. Um Lugar Silencioso surgiu em 2018 de forma surpreendente e foi aclamado
                        pela crítica internacional por causa de sua atmosfera enervante, o que o tornou um dos filmes
                        marcantes de terror psicológico. Com todo esse sucesso, Um Lugar Silencioso - Parte II (2021)
                        tinha uma responsabilidade enorme nas costas de manter a qualidade do anterior e expandir esse
                        universo. Será que John Krasinski conseguiu?

                        <p>
                        <h1>CRÍTICA</h1>
                        <p>
                            O universo pós-apocalíptico apresentado em Um Lugar Silencioso, de 2018, mostrou um
                            potencial enorme com seus monstros assustadores, mas focou na história de uma família que
                            precisa se manter unida e em silêncio para sobreviverem. Por isso, o roteirista e diretor
                            John Krasinski tinha a missão nada simples de explorar melhor esses elementos de terror em
                            Um Lugar Silencioso - Parte II. Ele começa de forma visceral explicando a origem dos
                            monstros e como eles foram desenvolvidos ao retroceder a narrativa para o primeiro dia da
                            invasão alienígena, nos melhores moldes do romance clássico A Guerra dos Mundos, de H. G.
                            Wells, que foi adapatado para o cinema em A Guerra dos Mundos (1953) e Guerra dos Mundos
                            (2005).
                        </p>
                        <img src="silent1.jpg" class="contentImage" width="85%" height="350px">
                        <p>
                            Depois desse prólogo repleto de ação e tensão, a história volta a acompanhar a família
                            Abbott sobrevivendo ao cenário devastador cheio de ameaças monstruosas. Vemos Evelyn (Emily
                            Blunt) e seus filhos Regan (Millicent Simmonds) e Marcus (Noah Jupe) mais preparados e
                            acostumados a lidarem com as adversidades, especialmente agora que estão sem Lee (John
                            Krasinski) e Beau (Dean Woodward), mortos, e precisando cuidar do bebê que vimos nascer no
                            primeiro filme.

                            A partir disso, o enredo vira uma continuação natural que não é muito diferente da
                            sobrevivência pós-apocalíptica que vimos anteriormente. Krasinski, então, supera essa "falta
                            de originalidade" com uma execução primorosa e, principalmente, a adição do personagem
                            misterioso Emmett (Cillian Murphy). O núcleo passa a ser dividido em dois segmentos
                            interessantes com a dupla Emmett e Regan em busca de novos horizontes (e uma possível
                            salvação) – lidando com adversários alienígenas, mas também humanos – e Evelyn com seu filho
                            Marcus precisando cuidar do bebê em confinamento, mas não muito tempo em segurança.
                        </p>
                        <p>

                            John Krasinski é um ator que surgiu da comédia (alô, The Office) e alçou grande voo na
                            direção com o primeiro Um Lugar Silencioso, que para um cineasta sem grande experiência foi
                            uma grande surpresa ele conseguir conduzir perfeitamente o clima de tensão constante durante
                            toda a produção. Por incrível que pareça, a sequência mostra uma evolução clara de
                            Krasinski, claramente com mais confiança no posto de diretor e apostando ainda mais nos
                            elementos de terror – principalmente na ameaça dos monstros alienígenas, que aparecem ainda
                            mais imponentes e ameaçadores mirando fortemente na claustrofobia de Alien, o 8º Passageiro
                            (1979).
                        </p>
                        <p>Um Lugar Silencioso - Parte II é uma continuação tão enervante quanto o primeiro capítulo</p>

                        <img src="silent2.jpg" class="contentImage" width="85%" height="350px">
                    </div>
                </div>

            </main>
            <%- include("../partials/footer")%>
    </body>

    </html>