<!DOCTYPE html>
<%- include("../partials/head");%>

    <body>
        <%- include("../partials/header", {pagina:"Sobre"});%>
            <main>
                <div class="sinopseMargin jumbotron">
                    <div class="imgSinopse">
                        <img class="movieInfo" width="300px" height="300px" src="soul.jpg" alt="">
                    </div>
                    <div class="info">
                        <a class="sinopseInfo">
                            25 de dezembro de 2020 No cinema e / 1h 40min / Animação, Aventura, Família </a>
                        <a class="sinopseInfo">
                            Direção: Pete Docter, Kemp Powers </a>
                        <a clas="sinopseInfo">
                            Roteiro Pete Docter, Kemp Powers </a>
                        <a class="sinopseInfo">
                            Elenco: Jamie Foxx, Tina Fey, Graham Norton </a>
                        <a class="nota">
                            Nota: 8
                        </a>
                    </div>

                    <div class="sinopse">
                        <h1>SINOPSE</h1>
                        Em Soul, duas perguntas se destacam: Você já se perguntou de onde vêm sua paixão, seus sonhos e
                        seus interesses? O que é que faz de você... Você? Joe Gardner é um professor de música do ensino
                        médio que sempre sonhou em ser músico de jazz. Mas quando, finalmente, tem a chance de
                        impressionar outros músicos durante um ensaio aberto, sofre um acidente que faz com que sua alma
                        seja separada de seu corpo e transportada para um centro no qual as almas se desenvolvem e
                        ganham paixões antes de serem enviadas para um recém-nascido. Joe deve trabalhar com 22, uma das
                        almas em treinamento, que tem uma visão obscura da vida depois de ficar presa por anos no centro
                        evitando seguir para a Terra.
                        <p>
                        <h1>CRÍTICA</h1>

                        Os três atos de Soul diferem muito entre si e isso é algo que dificulta, em partes, a
                        compreensão do que o filme quer passar ao espectador. Mas, por outro lado, são diversos os
                        símbolos e materiais para reflexão em sua forma final. Se no primeiro ato temos um
                        personagem que está em negação diante da morte e no segundo o clima de aventura se propaga
                        do jeito que muitos esperam, existe algo no ato final que une todos os detalhes do que foi
                        visto anteriormente - e que talvez passem despercebidos. Assim como na vida, às vezes
                        perdemos de vista certas particularidades que, lá na frente, vemos que foram necessárias
                        para dar sentido a tudo. E aí entramos naquele velho clichê: "o que importa é a jornada, não
                        o destino final".

                        Animação mescla existencialismo e mensagens puramente humanas com muitas cores

                        Soul enquadra no protagonista Joe tal clichê de forma natural ao longo da narrativa,
                        trazendo informações sobre o professor de música aos poucos, mas com um molde bem delineado:
                        ele ama música e sempre sonhou em tocar em shows com artistas que admira. Quando finalmente
                        tem a chance de realizar este desejo que alimenta desde quando era jovem, Joe se acidenta e
                        sua alma se separa do corpo. É neste ponto que surge a reflexão sobre encarar uma eventual
                        partida do mundo físico, mas o protagonista reiventa as regras quando chega a um local
                        inusitado: um centro fora da Terra feito para formar novas almas.
                        </p>
                        <p>
                            Seu foco em não morrer inicialmente traz o questionamento sobre a visão que temos sobre a
                            morte, mas a mensagem logo se transporta para o contexto de refletir sobre o que foi feito
                            em vida. "Eu fiz o que queria ou apenas vivi esperando por algo que nunca aconteceu?" é uma
                            pergunta que sintetiza boa parte da trama. Quando Joe repensa suas escolhas e se questiona,
                            o diretor Pete Docter assume os pontos humanos citados no início do texto. Mas toda
                            sensibilidade exposta só é sentida com a ajuda de outra personagem que não só dá novos rumos
                            à Joe como também ao filme em si: a pequena 22, uma alma que nunca encontrou seu verdadeiro
                            propósito e que, após vivenciar tantas reprovações, perdeu a vontade de começar uma vida na
                            Terra.

                            A dinâmica entre Joe e 22 impulsiona Soul a crescer em diferentes vertentes. Seja na
                            história pessoal do músico ou na situação de 22, que sempre viveu no mesmo lugar sem
                            entender quem é de verdade, a animação trabalha a já comentada ideia de se conquistar algo
                            distante sem olhar para o lado. Ao mesmo tempo em que Joe segue firme em seu sonho de ser um
                            músico "de verdade", mesmo ensinando crianças, 22 se apaixona pelos detalhes de uma rotina
                            em Nova York, atentando-se a sutilezas como ouvir um músico no metrô, comer um pedaço de
                            pizza ou observar folhas seguindo o vento.
                        </p>
                        <p>
                            Os ensinamentos que um dá ao outro (especialmente com a troca de corpos, a saída mais
                            "tradicional" da animação para trazer entretenimento) ganham força quando a narrativa amarra
                            bem os seus nós. Como a mensagem final é verdadeiramente simples e humana, Docter e o time
                            de roteiristas entendem que não é preciso apresentar mais fantasia que realidade. É claro
                            que, falando em Pixar, a criatividade visual na criação de diferentes mundos e criaturas tem
                            seu peso no resultado final; mas, em Soul, há equilíbrio no drama e na comédia, algo que é
                            percebido nos tons de cores (o uso do azul, por exemplo, que fala sobre conexão e
                            espiritualidade) e no número reduzido de alívios cômicos.

                            Soul não se trata de uma reinvenção do estúdio, tampouco aborda um tema inédito; a graça de
                            tudo está no estilo deste novo universo paralelo (que remete ao que já vimos em Divertida
                            Mente), no existencialismo de Joe e na insegurança de 22. Combinados, estes elementos trazem
                            diferentes aspectos a uma só história. Mais uma vez, o foco aqui não é o de entreter o
                            público infantil. Para além disso, é o de causar uma possível epifania no público adulto -
                            algo bem-vindo sempre, mas especialmente em um ano como o de 2020.
                        </p>

                    </div>
                </div>

            </main>
            <%- include("../partials/footer")%>
    </body>

    </html>