<!DOCTYPE html>
<%- include("../partials/head");%>

    <body>
        <%- include("../partials/header", {pagina:"Space Jam"});%>
            <main>
                <div class="container sinopseMargin jumbotron">
                    <div class="imgSinopse">
                        <img class="movieInfo" width="300px" height="300px" src="spaceJam.jpg" alt="">
                    </div>
                    <div class="info">
                        <a class="sinopseInfo">
                            15 de julho de 2021 No cinema / 1h 56min / Animação, Comédia, Família </a>
                        <a class="sinopseInfo">
                            Direção: Malcolm D. Lee </a>
                        <a clas="sinopseInfo">
                            Roteiro Keenan Coogler, Terence Nance </a>
                        <a class="sinopseInfo">
                            Elenco: LeBron James, Don Cheadle, Sonequa Martin-Green </a>
                        <a class="nota">
                            Nota: 7
                        </a>
                    </div>

                    <div class="sinopse">
                        <h1>SINOPSE</h1>
                        <p>
                            Em Space Jam: Um Novo Legado, a inteligência artificial, Al G (Dom Cheadle) sequestra o
                            filho de Lebron James e envia o lendário jogador dos Los Angeles Lakers para uma realidade
                            paralela, onde vivem apenas os personagens de desenho animado da Warner Bros. Para resgatar
                            o seu filho, ele precisará vencer uma partida épica de basquete contra superversões digitais
                            das maiores estrelas da história da NBA e da WNBA. Para essa dura missão, King James terá a
                            ajuda de Pernalonga, Patolino, Lola Bunny, dentre outros personagens consagrados de Looney
                            Tunes.
                        </p>
                        <h1>CRÍTICA</h1>
                        <p>
                            25 anos depois de O Jogo do Século, surge a sequência Space Jam: Um Novo Legado com uma nova
                            história e a missão de atualizar as ideias originais para a realidade atual, com o
                            protagonismo do astro experiente LeBron James, atual jogador de basquete do Los Angeles
                            Lakers.
                        </p>

                        <p>
                            Em Space Jam: Um Novo Legado, a inteligência artificial, Al G (Don Cheadle) sequestra o
                            filho de Lebron James, Dom James (Cedric Joe), e envia o lendário jogador dos Los Angeles
                            Lakers para uma realidade paralela, onde vivem apenas os personagens de desenho animado da
                            Warner Bros. Para resgatar o seu filho, ele precisará vencer uma partida épica de basquete
                            contra superversões digitais das maiores estrelas da história da NBA e da WNBA. Para essa
                            dura missão, King James terá a ajuda de Pernalonga, Patolino, Lola Bunny, dentre outros
                            personagens.
                        </p>
                        <img src="space1.png" class="contentImage" width="85%" height="85%">
                        <p>
                            O carisma de LeBron James para substituir Michael Jordan, com aposta na relação paternal

                            Se Michael Jordan ganhou fama nos anos 80 e reinou nos anos 90 na NBA, LeBron James era o
                            nome ideal para estrelar Space Jam: Um Novo Legado. Ele entrou na liga de basquete em 2003
                            pelo Cleveland Cavaliers e passou por outras equipes de elite como Miami Heat e Los Angeles
                            Lakers, seu time atual, conquistando quatro campeonatos da NBA. Ou seja, são quase duas
                            décadas como um dos maiores nomes do esporte mundial e também se tornando uma voz importante
                            em causas políticas e sociais.
                        </p>
                        <p>
                            James prova que tem o carisma necessário para carregar a sequência, substituindo à altura
                            Jordan. Ele ganha um desenvolvimento maior em seu personagem do que o ex-astro do Chicago
                            Bulls recebeu em Space Jam - O Jogo do Século, onde o grande destaque era a união dele com
                            os Looney Tunes. Aqui, a narrativa se aprofunda na relação fraternal de LeBron e Dom James
                            com temáticas importantes e relevantes, como o peso do legado e a cobrança que isso rende
                            para as demais gerações, o que acontece com Dom ao precisar seguir os passos de seu pai –
                            mesmo que isso não seja, necessariamente, o que ele quer para sua vida.
                        </p>
                        <p>
                            A história cai algumas vezes em clichês motivacionais. Isso acontece, principalmente,
                            durante sua parte inicial, que acaba sendo mais simples e arrastada. Ainda assim, essa
                            relação entre pai e filho é bem executada e serve de fio condutor para o enredo até o final
                            da produção. Mas Um Novo Legado engrena de vez quando abraça sem medo a nostalgia e os
                            conceitos tecnológicos...
                        </p>
                        <p>
                            Space Jam: Um Novo Legado é uma aventura nostálgica e despretensiosa pelo universo de
                            personagens e produções da Warner Bros. com diversas referências empolgantes para a cultura
                            pop. No centro de tudo isso, temos o astro LeBron James, que consegue continuar o legado
                            deixado por Michael Jordan no filme original e, principalmente, fazer o filme andar com suas
                            próprias pernas ao saber brincar com sua própria existência, além de atualizar
                            inteligentemente sua temática para nossa realidade atual. É um entretenimento imperdível
                            para toda a família!
                        </p>
                    </div>
                </div>

            </main>
            <%- include("../partials/footer")%>
    </body>

    </html>