<!DOCTYPE html>
<%- include("../partials/head");%>

    <body>
        <%- include("../partials/header", {pagina:"Viúva Negra"});%>
            <main>
                <div class="container sinopseMargin jumbotron">
                    <div class="imgSinopse">
                        <img class="movieInfo" width="300px" height="300px" src="viuvaNegra.jpg" alt="">
                    </div>
                    <div class="info">
                        <a class="sinopseInfo">
                            8 de julho de 2021 No cinema / 2h 14min / Ação, Espionagem, Aventura </a>
                        <a class="sinopseInfo">
                            Direção: Cate Shortland </a>
                        <a class="sinopseInfo">
                            Roteiro Eric Pearson, Stan Lee
                        </a>
                        <a class="sinopseInfo">
                            Elenco: Scarlett Johansson, Florence Pugh, Rachel Weisz</a>
                        <a class="nota">
                            Nota: 7,9
                        </a>
                    </div>

                    <div class="sinopse">
                        <h1>SINOPSE</h1>

                        Em Viúva Negra, acompanhamos a vida de Natasha Romanoff (Scarlett Johansson) após os eventos de
                        Guerra Civil. Se escondendo do governo norte-americano devido a sua aliança com o time do
                        Capitão América, Natasha ainda precisa confrontar partes de sua história quando surge uma
                        conspiração perigosa ligada ao seu passado. Perseguida por uma força que não irá parar até
                        derrotá-la, ela terá que lidar com sua antiga vida de espiã, e também reencontrar membros de sua
                        família que deixou para trás antes de se tornar parte dos Vingadores.

                        <p>
                        <h1>CRÍTICA</h1>
                        <p>
                            Quando as primeiras notícias sobre um filme solo da Viúva Negra surgiram, a grande pergunta
                            veio na mesma hora: por que levou tanto tempo? Não é difícil refletir sobre alguns motivos -
                            das prioridades da Marvel entre a lista enorme de lançamentos do estúdio aos questionamentos
                            sobre a força que Natasha Romanoff teria sozinha nas telas. Com Scarlett Johansson se
                            despedindo da personagem em 2021 após uma série de adiamentos, a demora foi recompensada e a
                            história contada só existe porque foi feita agora e não há dez anos.
                        </p>
                        <img src="blackWidow1.jpg" class="contentImage" width="89%" height="55%">
                        <p>

                            Os acontecimentos de Viúva Negra se passam entre Capitão América: Guerra Civil e Vingadores:
                            Guerra Infinita, quando o grupo de heróis dá um tempo na relação após se desentender quanto
                            ao Acordo de Sokovia. Neste meio-tempo, Natasha parte para um acerto de contas com o passado
                            e, de volta ao “lar”, descobre que assuntos que ela pensava ter encerrado ainda estão
                            (muito!) abertos: o programa secreto que a treinou para se tornar uma máquina assassina
                            ainda existe e faz novas vítimas.
                        </p>
                        <p>

                            A diretora Cate Shortland se enquadra na linha da Marvel quanto à escolha de cineastas
                            indies para suas obras, como Taika Waititi (Thor: Ragnarok), Anna Boden e Ryan Fleck (Capitã
                            Marvel) e, mais recentemente,Chloé Zhao (Eternos). Com a experiência em histórias mais
                            intimistas, ela tinha nas mãos um material delicado para trabalhar.
                        </p>
                        <p>

                            Muitas das informações sobre a Viúva Negra já estavam estabelecidas no Universo
                            Cinematográfico da Marvel, incluindo, é claro, sua morte trágica em Vingadores: Ultimato.
                            Para encaixar uma nova história em meio a tantos pilares já sólidos, a escolha foi olhar
                            para dentro e expor todas as vulnerabilidades que Natasha não tinha mostrado até o momento
                            da linha do tempo em que o filme se passa e que revelam camadas longe da sexualização
                            apontada por Scarlett Johansson em seu início na Marvel.
                        </p>

                        <p>
                            Com isso, um clima Jason Bourne (ou Capitão América 2 - O Soldado Invernal, para manter tudo
                            em casa) e as bem-coreografadas sequências de ação fazem uma ponte entre o mundo exterior e
                            as emoções de Natasha. A forma como a protagonista lida com os conflitos, no mais absoluto
                            silêncio ou nas mega explosões e helicópteros destruídos, conversam diretamente com o que
                            ela está aprendendo. Mais do que isso, o filme se esforça para convencer o público de que o
                            sacrifício em Vingadores: Ultimato fazia sentido.</p>
                        <p>
                            A escolha por uma trama condensada foi uma boa saída para não mexer muito na estrutura que
                            veio antes e depois e mesmo sendo uma história intermediária, não deixa a sensação de uma
                            experiência incompleta. Justamente por sublinhar tanto o lado emocional de Natasha, o filme
                            torna fácil a identificação, a compreensão dos dilemas e a trama funciona bem de forma
                            independente - é claro que quanto mais por dentro do Universo Marvel o espectador estiver,
                            melhor, mas o público casual não vai ter problema algum para se conectar também.</p>
                    </div>
                </div>

            </main>
            <%- include("../partials/footer")%>
    </body>

    </html>