<!DOCTYPE html>

<%- include("../partials/head"); %>

    <body>
        <%- include("../partials/header",{pagina:"Home"}); %>
            <main>
                <div class="jumbotron">
                    <a href="/space">
                        <img class="imgChoice" width="250px" height="250px" src="spaceJam.jpg" alt="movie1">
                    </a>
                    <a href="/soul">
                        <img class="imgChoice" width="250px" height="250px" src="soul.jpg" alt="">
                    </a>
                    <a href="/lugarSilencioso">
                        <img class="imgChoice" width="250px" height="250px" src="lugarSilencioso.jpg" alt="movie3">
                    </a>
                    <a href="/viuvaNegra">
                        <img class="imgChoice" width="250px" height="250px" src="viuvaNegra.jpg" alt="movie4">
                    </a>
                    <a href="/classicHorror">
                        <img class="imgChoice" width="250px" height="250px" src="classicHorror.jpg" alt="movie1">
                    </a>
                    <a href="/godzillaVsKong">
                        <img class="imgChoice" width="250px" height="250px" src="godzillaVsKong.jpg" alt="movie1">
                    </a>
                    <a href="/luca">
                        <img class="imgChoice" width="250px" height="250px" src="luca.jpg" alt="movie1">
                    </a>
                    <a href="/ruaDoMedo">
                        <img class="imgChoice" width="250px" height="250px" src="ruaDoMedo.jpg" alt="movie1">
                    </a>
            </main>
            <%- include("../partials/footer"); %>
    </body>


    </html>