<!DOCTYPE html>

<%- include("../partials/head"); %>

    <body>
        <%- include("../partials/header",{pagina:"Filmes"}); %>

            <nav class="menu container navbar navbar-expand-lg navbar-light bg-light">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Filmes</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/series">Series</a></li>
                </ul>

            </nav>
            <main>

                <div class="movies jumbotron">
                    <h4> Filmes</h4>
                    <a href="/space">
                        <img class="imgChoice" width="270px" height="270px" src="spaceJam.jpg" alt="movie0">
                    </a>
                    <a href="/soul">
                        <img class="imgChoice" width="270px" height="270px" src="soul.jpg" alt="movie1">
                    </a>
                    <a href="/lugarSilencioso">
                        <img class="imgChoice" width="270px" height="270px" src="lugarSilencioso.jpg" alt="movie3">
                    </a>
                    <a href="/viuvaNegra">
                        <img class="imgChoice" width="270px" height="270px" src="viuvaNegra.jpg" alt="movie4">
                    </a>
                    <a href="/classicHorror">
                        <img class="imgChoice" width="270px" height="270px" src="classicHorror.jpg" alt="movie5">
                    </a>
                    <a href="/godzillaVsKong">
                        <img class="imgChoice" width="270px" height="270px" src="godzillaVsKong.jpg" alt="movie6">
                    </a>
                    <a href="/luca">
                        <img class="imgChoice" width="270px" height="270px" src="luca.jpg" alt="movie7">
                    </a>
                    <a href="/ruaDoMedo">
                        <img class="imgChoice" width="270px" height="270px" src="ruaDoMedo.jpg" alt="movie8">
                    </a>
                </div>
            </main>
            <%- include("../partials/footer"); %>
    </body>


    </html>