<!DOCTYPE html>
<%- include("../partials/head");%>

    <body>
        <%- include("../partials/header", {pagina:"Sobre"});%>
            <main>
                <div class="jumbotron">
                    <h1> Séries</h1>

                </div>

            </main>
            <%- include("../partials/footer")%>
    </body>

    </html>