<!DOCTYPE html>
<%- include("../partials/head");%>

    <body>
        <%- include("../partials/header", {pagina:"Séries"});%>

            <nav class="menu container navbar navbar-expand-lg navbar-light bg-light">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Filmes</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/series">Series</a></li>
                </ul>

            </nav>
            <main>
                <div class="movies jumbotron">
                    <h4> Séries</h4>
                    <a href="/theboys">
                        <img class="imgChoice" width="270px" height="270px" src="theBoys.jpg" alt="movie0">
                    </a>
                    <a href="/atypical">
                        <img class="imgChoice" width="270px" height="270px" src="atypical.jpg" alt="movie1">
                    </a>
                    <a href="/invincible">
                        <img class="imgChoice" width="270px" height="270px" src="invincible.jpg" alt="movie3">
                    </a>
                    <a href="/loveDeathRobots">
                        <img class="imgChoice" width="270px" height="270px" src="loveDeathRobots.jpg" alt="movie4">
                    </a>
                    <a href="/you">
                        <img class="imgChoice" width="270px" height="270px" src="you.jpg" alt="movie5">
                    </a>
                    <a href="/peakyBlinders">
                        <img class="imgChoice" width="270px" height="270px" src="peakyBlinders.jpg" alt="movie6">
                    </a>
                    <a href="/blackMirror">
                        <img class="imgChoice" width="270px" height="270px" src="blackMirror.jpg" alt="movie7">
                    </a>
                    <a href="/gotham">
                        <img class="imgChoice" width="270px" height="270px" src="gotham.jpg" alt="movie8">
                    </a>
                </div>

            </main>
            <%- include("../partials/footer")%>
    </body>

    </html>